{% extends 'dashboard/admin/base.html' %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block body %}

<div id="content-wrapper" class="home">
    <div class="homecontainer">
        <div class="card-header pagehead">
            <i class="ri-chat-upload-line"></i>
            Post New Announcement
        </div>
        <div class="card-body pagecontainer">
            <div class="noticeform">
                <form method="POST">
                    {% csrf_token %}
                    <p class="form-head">CONTENT:</p>
                    {% render_field form.content type="textbox" class="form-control" %}

                    <div class="btnbox">
                        <button type="submit" class="btn primarybtn">POST</button>
                        <a href="{% url 'owner' %}" class="btn secondarybtn">CANCEL</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock body %}