{% extends 'dashboard/admin/base.html' %}

{% block body %}
<div id="content-wrapper" class="home">
    <div class="homecontainer">
        <div class="card-header pagehead">
            <i class="ri-chat-delete-line"></i>
            Deleting Annoucement
        </div>
        <div class="card-body pagecontainer">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="deletion">
                <h4>Confirm Deletion?</h4>
                <p class="text-white m-3">Are you sure to delete detail of {{ object }} ?</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="btnbox"> 
                        <button type="submit" class="btn primarybtn">Yes, I'm sure</button>
                        <a class="btn secondarybtn" href="{% url 'adm_delete_notices' %}">Nevermind</a>
                    </div>       
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
