{% extends 'dashboard/admin/base.html' %}

{% load static %}

{% block body %} 

<div id="content-wrapper" class="home">
    <div class="homecontainer"> 
        <div class="row">
            <div class="col-xl-3">
                <div class="overview">
                    <div class="txt1"> {{ interest }}</div>
                    <div class="txt2">INTERESTS</div>
                </div>
            </div> 
            <div class="col-xl-3">
                <div class="overview">
                    <div class="txt1"> {{ employee }}</div>
                    <div class="txt2">EMPLOYEES</div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="overview">
                    <div class="txt1"> {{ organizer }}</div>
                    <div class="txt2">ORGANIZERS</div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="overview">
                    <div class="txt1"> {{ users }}</div>
                    <div class="txt2">USERS</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body%}