{% extends 'dashboard/admin/base.html' %}

{% block body %}
<div id="content-wrapper" class="home">
  <div class="homecontainer">
    <div class="card-header pagehead">
      <i class="fas fa-table text-white"></i>
      Delete Announcements
      <a  class="btn btn-primary" href="{% url 'adm_add_notice' %}" style="padding: 4px 12px; float: right; color: white;">Add Anncouncement</a>
    </div>
    <div class="card-body pagecontainer">
      {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
              {{ message }}
          </div>
      {% endfor %}
      <table class="table mb-0 tablebox">
        <thead>
          <tr>
              <th>Anncouncement</th>
              <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% if tises %}
          {% for tise in tises %}
          <tr>
            <td>{{ tise.content }}</td>
            <td>
              <a href="{% url 'adm_delete_notice' tise.pk %}"><button type="button" class="btn secondarybtn">Delete</button></a>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
  <script type="text/javascript">
      $(function () {
          // Hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });
      });
  </script>
{% endblock extrascripts %}
