{% extends 'dashboard/admin/base.html' %}

{% block body %}
<div id="content-wrapper" class="home">
  <div class="homecontainer">
          <div class="card-header pagehead">
            <i class="ri-shield-star-line"></i>
            Register Interest
          </div>
          <div class="card-body pagecontainer regform">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

            <form method="post" action="{% url 'reg_interest' %}" class="reginput">
              {% csrf_token %}
              <input type="text" name="name" placeholder="Interest">
              <div class="clrblock">
                <div class="div1">
                  <label for="head">SELECT COLOR :</label>
                </div>
                <div class="div2">
                  <input type="color" id="head" name="color"
                       value="#000">
                </div>
              </div>
            	<button type="submit" class="btn primarybtn">Submit</button>
            </form>
          </div>
      </div>
  </div>
</div>
{% endblock body %}

{% block extrascripts %}
  <script type="text/javascript">
      $(function () {
          $("#login-btn").modalForm({
            formURL: "{% url 'login' %}"
          });

          $("#signup-btn").modalForm({
            formURL: "{% url 'signup' %}"
          });
          var asyncSuccessMessageUpdate = [
            "<div ",
            "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
            "Success: Data was updated.",
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
            "<span aria-hidden='true'>&times;</span>",
            "</button>",
            "</div>",
            "<script>",
            "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
            "<\/script>"
          ].join("");


      function updateBookModalForm() {
            $(".update-book").each(function () {
              $(this).modalForm({
                formURL: $(this).data("form-url"),
                asyncUpdate: true,
                asyncSettings: {
                  closeOnSubmit: false,
                  successMessage: asyncSuccessMessageUpdate,
                  dataUrl: "books/",
                  dataElementId: "#books-table",
                  dataKey: "table",
                  addModalFormFunction: updateBookModalForm
                }
              });
            });
          }
          updateBookModalForm();
          $(".bs-modal").each(function () {
              $(this).modalForm({formURL: $(this).data("form-url")});
          });
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });
      });
  </script>
{% endblock extrascripts %}







