{% extends 'dashboard/admin/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block body %} 
<div id="content-wrapper" class="home">
    <div class="homecontainer">
      <div class="card-header pagehead">
        <i class="ri-shield-user-line"></i>
          Please Add New Organizer For FunZone
      </div>
      <div class="card-body pagecontainer regform">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
          </div>
        {% endfor %}
        <form method="post" novalidate class="reginput">
          {% csrf_token %}
          <div class="form-group">
            {% render_field form.username type="text" class="form-control" placeholder="Username" %}
          </div>
          <div class="form-group">
            {% render_field form.password1 type="password" class="form-control" placeholder="Password" %}
          </div>
          <div class="form-group">
            {% render_field form.password2 type="password" class="form-control" placeholder="Confirm Password" %}
          </div>
          <button type="submit" class="btn primarybtn">Submit</button>
        </form>
      </div>
    </div>
</div>

{% endblock body %}
