@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;1,200&display=swap");

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Be Vietnam Pro", sans-serif;
  letter-spacing: 0.5px !important;
}

.card {
  overflow: hidden;
}

.home {
  background-image: url("/static/img/pages/background.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.dropmenu {
  background-color: whitesmoke;
}

.dropitem {
  font-size: larger;
  font-weight: bolder;
  color: black;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

#wrapper #content-wrapper {
  overflow-x: hidden;
  width: 100%;
  padding-bottom: 80px;
  padding-top: 1rem;
}

.navbar,
.sidebar {
  background-color: black !important;
}

.navbar {
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-nav .nav-item.active .nav-link {
  color: #fff;
}

/* arrow for nav-bar dropdown */
.navbar-nav .nav-item.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

.sidebar {
  min-height: calc(95vh);
}

.sidebar .nav-item .dropdown-menu {
  position: absolute !important;
  -webkit-transform: none !important;
  transform: none !important;
  left: calc(90px + 0.5rem) !important;
  margin: 0;
}

.sidebar .nav-item .dropdown-menu.dropup {
  bottom: 0;
  top: auto !important;
}

.sidebar .nav-item.dropdown .dropdown-toggle::after {
  display: none;
}

.sidebar.toggled {
  width: 0 !important;
  overflow: hidden;
}

@media (min-width: 768px) {
  .sidebar {
    width: 300px !important;
  }
  .sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem 40px;
    width: 300px;
  }
  .sidebar .nav-item .nav-link span {
    font-size: 1rem;
    display: inline;
  }
  .sidebar .nav-item .dropdown-menu {
    position: static !important;
    margin: 0 1rem;
    top: 0;
  }
  .sidebar .nav-item.dropdown .dropdown-toggle::after {
    display: block;
  }
  .sidebar.toggled {
    overflow: visible;
    width: 90px !important;
  }
  .sidebar.toggled .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .sidebar.toggled .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 90px;
  }
  .sidebar.toggled .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
  }
  .sidebar.toggled .nav-item .dropdown-menu {
    position: absolute !important;
    -webkit-transform: none !important;
    transform: none !important;
    left: calc(90px + 0.5rem) !important;
    margin: 0;
  }
  .sidebar.toggled .nav-item .dropdown-menu.dropup {
    bottom: 0;
    top: auto !important;
  }
  .sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
    display: none;
  }
}

/* 
  common
*/

/* card in dashboard */
.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -1.25rem;
  right: -1rem;
  opacity: 0.4;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

/* home */
.breadcrumb,
.fieldbox {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.fieldbox {
  color: white;
}
.card {
  font-weight: bold;
}
.cardhead {
  margin-bottom: 20px;
  font-size: larger;
}

/* 
  employee 
*/
/* quiz cards */
.qcardcontainer {
  margin: 25px 0px;
}
.qcardbody {
  opacity: 1;
}
.qcardfooter {
  opacity: 1;
}
.qcardfooter a {
  font-weight: bold;
  font-size: large;
}
.qcardtext {
  font-weight: bold;
  font-size: larger;
}
.qcardtext span {
  font-size: large;
}

/* interests */
.form-interests {
  width: 50%;
  margin: 5% 25%;
}
.divider {
  display: flex;
}
.divider > div {
  flex: 1;
}
.divider .div1 {
  align-self: center;
  text-align: center;
}
.form-interests .btnbox {
  margin-top: 20px;
  padding: 0px 10%;
  display: flex;
}
.form-interests .btnbox > * {
  width: 50%;
  margin: 10px;
}

/* interests bar */
.interests {
  background-color: rgba(0, 0, 0, 0.315);
  padding: 20px;
}
.interests {
  font-weight: bold;
  font-size: larger;
}
.interests > a > small {
  font-weight: bold;
}

/* books card */
.bookcontainer {
  margin: 25px 0px;
}
.bookcard {
  background-color: rgb(224, 255, 255, 0.9);
}
.bookbody {
  opacity: 0.95;
  text-align: center;
}
.bookbody img {
  width: 180px;
  height: 140px;
}
.booktext {
  color: maroon;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}
.bookfooter {
  height: 120px;
}
.bookfooter .btnbox {
  display: flex;
}
.bookfooter .btnbox > div {
  flex: 1;
  margin: 10px;
}
.bookfooter .btnbox > div a {
  width: 100%;
  font-weight: bold;
  font-size: large;
}

/* notice card */
.noticebox {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.1);
}
.notice-title {
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: 25px;
}
.noticefooter {
  font-size: large;
  font-weight: 500;
}
.noticefooter span {
  font-weight: bolder;
  font-size: large;
}

/* profile page */
#tbox {
  width: 40%;
  margin: 20px 30%;
  text-align: center;
}
.tablebox {
  background-color: rgba(0, 0, 0, 0.4);
}
.tablebox tr {
  border: 2px solid white;
  color: white;
}
.tablebox tr > * {
  border-right: 2px solid white;
  padding-left: 20px;
}
.tablebox thead {
  background-color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight: 500;
  font-size: large;
  letter-spacing: 2px;
}
.tablebox tbody {
  font-size: large;
  letter-spacing: 2px;
}

/* 
  organizer  
*/

/* add quiz */
.addquiz {
  width: 40%;
  padding: 30px 5%;
  margin: 20px 30%;
  background-color: rgba(240, 248, 255, 0.9);
}
.addquiz input,
.addquiz select {
  width: 80%;
  margin: 10px 10%;
  background-color: white;
  border: 1px solid black;
  padding: 8px 25px;
}
.addquiz .btnbox {
  margin-top: 20px;
  padding: 0px 6%;
  display: flex;
}
.addquiz .btnbox > * {
  flex: 1;
  padding: 10px;
  margin: 0px 12px;
}

/* add question */
.addquestion {
  width: 40%;
  margin: 20px 30%;
  padding: 30px 5%;
  background-color: rgba(240, 248, 255, 0.9);
}
.addquestion #div_id_text label {
  text-transform: uppercase;
  color: black;
}
.addquestion #div_id_text div input {
  width: 100%;
  padding: 8px 12px;
}
.addquestion .btnbox {
  margin-top: 20px;
  padding: 0px 6%;
  display: flex;
}
.addquestion .btnbox > * {
  flex: 1;
  padding: 10px;
  margin: 0px 12px;
}

div[id^="div_id_answers-"] input {
  width: 100%;
  padding: 4px 12px;
}

/* notice form */
.noticeform {
  width: 40%;
  padding: 30px 5%;
  margin: 20px 30%;
  background-color: rgba(240, 248, 255, 0.9);
}
.noticeform .btnbox {
  margin-top: 20px;
  padding: 0px 6%;
  display: flex;
}
.noticeform .btnbox > * {
  flex: 1;
  padding: 10px;
  margin: 0px 12px;
}

/* add book */
.addbook {
  width: 50%;
  margin: 20px 25%;
  padding: 2%;
  background-color: rgba(240, 248, 255, 0.9);
  color: black;
}
.addbook::after {
  display: block;
  content: "";
  clear: both;
}
.addbook input,
.addbook select {
  width: 75%;
  float: left;
  padding: 6px 20px;
  background-color: white;
}
.addbook .labels {
  display: flex;
  width: 25%;
  float: left;
  padding: 6px 10px 0px;
  margin: 10px 0px;
}
.addbook button {
  width: 30%;
  padding: 12px 0px;
  margin: 20px 35% 0px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

/* list books */
.btngrp {
  margin-top: 20px;
  display: flex;
}
.btngrp > * {
  flex: 1;
  padding: 10px 0;
  margin: 0px 10%;
  font-size: large;
  font-weight: bold;
}

/* 
 admin
*/

.regform {
  width: 40%;
  padding: 30px 5%;
  margin: 20px 30%;
  background-color: rgba(240, 248, 255, 0.9);
}
.reginput input[type="text"],
.reginput input[type="password"] {
  width: 100%;
  padding: 6px 20px;
  margin: 10px 0px;
  background-color: white;
  border: 1px solid black;
}
.reginput button {
  width: 30%;
  font-weight: bolder;
  font-size: large;
  letter-spacing: 4px;
  margin: 0px 35% 10px;
}
.reginput .clrblock {
  display: flex;
}
.reginput .clrblock .div1 {
  flex: 1;
  text-align: center;
  align-self: center;
}
.reginput .clrblock .div2 {
  flex: 2;
}
.reginput .clrblock .div2 input[type="color"] {
  width: 80%;
  margin-left: 10%;
}
.regblock {
  display: flex;
  color: black;
}
.regblock > * {
  flex: 1;
}
.regblock .div1 {
  text-align: center;
  align-self: center;
}

/* notice */
.btnstore {
  margin: 16px;
}
.formbody {
  padding: 5% 30%;
}

.formbody input:not(input[type="file"]) {
  width: 100%;
  height: 55px;
  border-radius: 30px;
  border: 3px solid palevioletred;
  padding-left: 30px;
  margin-top: 15px;
  font-weight: 600;
}
#save {
  width: 100%;
  height: 55px;
  border-radius: 30px;
  margin: 20px 0;
}
#picfield {
  padding: 0px 20px;
  margin: 10px 0;
}
.picselect {
  width: 40%;
  float: left;
  font-weight: 600;
}
.formbody input[type="file"] {
  width: 60%;
  float: left;
  font-weight: 600;
}
