{% extends 'dashboard/organizer/base.html' %}
{% load crispy_forms_tags crispy_forms_filters %}

{% block body %}
<div id="content-wrapper" class="home">
  <div class="container-fluid"> 

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'organizer' %}">Dashboard</a></li>
          <li class="breadcrumb-item text-success">Manage Quizzes</li>
          <li class="breadcrumb-item text-danger">Add Quiz</li>
          <li class="breadcrumb-item text-warning">Add Question</li>
          <li class="breadcrumb-item text-info">Update Question</li>
      </ol>
      <form method="post" novalidate class="addquestion">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ form|crispy }}
        <div class="card mb-3 {% if formset.errors %} border-danger {% endif %}">
          <div class="card-header">
            <div class="row text-center">
              <div class="col-8 text-success">
                <strong>ANSWERS</strong>
              </div>
              <div class="col-4 text-danger">
                <strong>CORRECT</strong>
              </div>
            </div>
          </div>
          {% for error in formset.non_form_errors %}
            <div class="card-body bg-danger border-danger text-white py-2">{{ error }}</div>
          {% endfor %}
          <div class="list-group list-group-flush list-group-formset">
            {% for form in formset %}
              <div class="list-group-item">
                <div class="row">
                  <div class="col-8">
                    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                    {{ form.text|as_crispy_field }}
                    {% if form.instance.pk and form.text.value != form.instance.text %}<p class="mb-0 mt-1"><small class="text-muted font-italic"><strong>Old answer:</strong> {{ form.instance.text }}</small></p>{% endif %}
                  </div>
                  <div class="col-4" style="align-self: center; text-align: center;">
                    {{ form.is_correct }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="btnbox">
          <button type="submit" class="btn btn-success">SAVE CHANGES</button>
          <a href="{% url 'delete_question' quiz.pk question.pk %}" class="btn btn-danger float-right">DELETE</a>
        </div>
        
      </form>
    </div>
  </div>
</div>
{% endblock body %}