/* static/css/main.css */

#gameform{
    width: 40%;
    margin: 5% 30%;
    padding: 40px 2%;
    background-color: #454d82;
}
.wlcm{
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    color: white;
    text-transform: capitalize;
}
.gamefillform > .form-control{
    margin: 20px 0;
    display: flex;
}
.gamefillform > .form-control > label{
    flex: 1;
}
.gamefillform > .form-control > *:not(label){
    flex: 4;
}
.gamefillform button{
    width: 30%;
    margin: 0px 5%;
    font-weight: bolder;
    font-size: larger;
}

#playingbox{
    padding: 40px 2%;
}
.gamedata{
    text-align: center;
    text-transform: capitalize;
}
.gamedata > .head1{
    font-size: 30px;
    font-weight: bolder;
    color: #f44773;
    margin: 0;
}
.gamedata > .head2{
    font-size: large;
    font-weight: bold;
    color: white;
}

#game_board {
    width: 40%;
    margin: 50px 30%;
    background-color: white;
}
#game_board > div{
    display: flex;
}
.square{
    flex: 1;
    background: #454d82;
    margin: 20px;
    height: 130px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 60px;
    box-shadow: 0.025em 0.125em 0.25em rgba(0, 0, 0, 0.5);

    display: flex;
    color: #f44773;
    justify-content: center;
    align-items: center;
}

#alert_move{
    background-color: #f44773;
    color: white;
    text-transform: uppercase;
    width: 14%;
    padding: 8px;
    margin: 10px 43%;
}
