{% extends 'dashboard/employee/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block body %}
<div id="content-wrapper" class="home">
    <div class="homecontainer" >
        <div class="card-header pagehead">
            <i class="fas fa-table"></i>
            Please Select Interests
        </div>
        <div class="card-body pagecontainer">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            <form method="post" novalidate class="pageform">
                {% csrf_token %}
                <div class="formdivider">
                    <div class="div1">
                        INTERESTS
                    </div>
                    <div class="div2">
                        {% render_field form.interests %}
                    </div>
                </div>
                <div class="pagebtngrp">
                    <button type="submit" class="btn primarybtn">SAVE</button>
                    <a href="{% url 'employee' %}" class="btn secondarybtn">CANCEL</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}

{% block extrascripts %}
<script type="text/javascript">
      $(function () {
          $(".bs-modal").each(function () {
              $(this).modalForm({formURL: $(this).data("form-url")});
          });
          
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });
      });
</script>
{% endblock extrascripts %}
