{% extends 'dashboard/employee/base.html' %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block body %}
<div id="content-wrapper" class="home">
  <div class="homecontainer">      
      <div class="card-body pagecontainer">
        <h3 class="text-warning">{{ quiz.name }}</h3>

        <div class="timer">
          <div class="label">
            TIME LEFT :
          </div>
          <div class="progress bg-success">
            <div class="progress-bar bg-danger" id="timerbar" role="progressbar" aria-valuemin="0" aria-valuemax="20"> 
            </div>
          </div>
        </div>

        <div class="questionbox text-white">
          <p class="lead m-3 font-weight-bold">{{ counter }}. {{ question.text }}</p>
          <form method="post" novalidate>
            {% csrf_token %}
            <div class="options" aria-required="false">
              {% render_field form.answer %}
            </div>
            <input type="hidden" id="hiddenbox" value="0"/>
            <button type="submit" class="btn btn-success savebutton" id="savebtn">NEXT <i class="ri-arrow-right-line"></i></button>
          </form>
          
          <div class="timer">
            <div class="label">
              QUESTIONS :
            </div>
            <div class="progress">
              <div class="progress-bar bg-success" id="progressbar" role="progressbar" data-progress="{{ progress }}" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
                {{ progress }} %
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  onload = () => {
    $('#progressbar').css(
      "width", 
      $('#progressbar').data('progress') + "%"
    )

    $('[id^=id_answer_0]').attr(
      "checked",
      true
    )

    c = 0;
  }

  function timerstart(){
    if(c<20){
      c += 1;

      $('#timerbar').css(
        "width", 
        (c * 5)+ "%"
      ).html(c)
    } else {
      hiddenbox.value = 1;
      $('[id^=id_answer_1]').attr(
        "selected",
        true
      )
      savebtn.click();
    }
  }

  intervalTimer = setInterval("timerstart()", 1000);
</script>
{% endblock body %}