{% extends 'dashboard/employee/base.html' %}
{% load static %}
{% load myfilter %}
{% block body %}
<div id="content-wrapper" class="home">
  <div class="homecontainer">
    <div class="card-header pagehead">
      <i class="ri-question-answer-line"></i>
      List of Taken Quiz
    </div>
    <div class="card-body pagecontainer">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        {{ message }}
      </div>
      {% endfor %}
      {% include 'dashboard/employee/header.html' with active='taken' %}
      <table class="table mb-0 tablebox">
        <thead>
        <tr>
            <th>Quiz</th>
            <th>Interest</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        {% if taken_quizzes %}
        {% for taken_quiz in taken_quizzes %}
        <tr>
            <td>
                {{ taken_quiz.quiz.name }}
            </td>
            <td>{{ taken_quiz.quiz.interest }}</td>
            <td>{{ taken_quiz.score }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td colspan="3">No Quizzes Taken Yet</td>
        </tr>
        {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock body %}