{% extends 'dashboard/employee/base.html' %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block body %}
<div id="content-wrapper" class="home">
  <div class="homecontainer">
      <div class="card-header pagehead">
        <i class="fas fa-table"></i>
        List of Taken Quiz
      </div>
      
      <div class="card-body pagecontainer">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
          </div>
        {% endfor %} 
        
        <h4 class="mb-3 cardbody text-warning">{{ quiz.name }}</h4>
        <div class="questionbox" style="color: white;">
          <p class="lead font-weight-bold text-white">{{ question.text }}</p>
          <form method="post" novalidate>
            {% csrf_token %}
            <div class="options">
              {% render_field form.answer %}
            </div>
            <button type="submit" class="btn btn-success">NEXT <i class="fas fa-arrow-right"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}