{% extends 'dashboard/employee/base.html' %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block body %}
<div id="content-wrapper" class="home">
  <div class="homecontainer">      
      <div class="card-body pagecontainer">
        <h3 class="numbering">{{ quiz.name }}</h3>

        <div class="timer">
          <div class="label">
            TIME LEFT &nbsp : &nbsp &nbsp   
          </div>
          <div class="progress">
            <div class="progress-bar bg-info" id="timerbar" role="progressbar" aria-valuemin="0" aria-valuemax="20"> 
            </div>
          </div>
        </div>

        <div class="questionbox text-white">
          <p class="lead font-weight-bold"><span class="numbering">{{ counter }})</span>&nbsp{{ question.text }}</p>
          <form method="post" novalidate>
            {% csrf_token %}
            <div class="options" aria-required="false">
              {% render_field form.answer %}
            </div>
            <button type="submit" class="btn btn-success savebutton float-left" id="savebtn">NEXT <i class="ri-arrow-right-line"></i></button>
          </form>
          <p class="float-right" style="margin-top: 45px;">{{ counter }} out of {{ total }} questions</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  onload = () => {
    $('#progressbar').css(
      "width", 
      $('#progressbar').data('progress') + "%"
    );

    $('[id^=id_answer_0]').attr(
      "checked",
      true
    );

    c = 0;
  }

  function timerstart(){
    if(c<20){
      c += 1;

      $('#timerbar').css(
        "width", 
        (c * 5)+ "%"
      ).html(c)
    } else {
      savebtn.click();
    }
  }

  intervalTimer = setInterval("timerstart()", 1000);

  let form = document.querySelector( "form" );
  let mydiv = document.querySelector("#id_answer").classList.add("mydiv");
  let firstdiv = document.querySelector(".mydiv > div:first-child").classList.add("firstdiv");
  let firstlabel = document.querySelector(".firstdiv > label").classList.add("checked");
  form.addEventListener( "change", ( evt ) => {
    let trg = evt.target,
      trg_par = trg.parentElement;   
    if ( trg.type === "radio" && trg_par &&
        trg_par.tagName.toLowerCase() === "label" ) {
      let prior = form.querySelector( 'label.checked input[name="' +
                                      trg.name + '"]' );
      if ( prior ) {
        prior.parentElement.classList.remove( "checked" );
      } 
      trg_par.classList.add( "checked" );
    }
  }, false );
</script>
{% endblock body %}