{% extends 'dashboard/admin/base.html' %}
{% load static %}


{% block body %}
<div id="content-wrapper" class="home">
  <div class="homecontainer">
          <div class="card-header pagehead">
            <i class="fas fa-table"></i>
            List of Quizzes
          </div>

          <div class="card-body pagecontainer">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
              </div>
            {% endfor %}

            <table class="table mb-0 tablebox">
              <thead>
                <tr>
                  <th>Quiz</th>
                  <th>Interest</th>
                  <th>Questions</th>
                  <th>Taken</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for quiz in quizzes %}
                  <tr>
                    <td class="align-middle"><a href="{% url 'adm_update_quiz' quiz.pk %}">{{ quiz.name }}</a></td>
                    <td class="align-middle">{{ quiz.interest.get_html_badge }}</td>
                    <td class="align-middle">{{ quiz.questions_count }}</td>
                    <td class="align-middle">{{ quiz.taken_count }}</td>
                    <td class="align-middle">
                      <a href="{% url 'adm_quiz_results' quiz.pk %}" class="btn primarybtn">View Results</a>
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td class="text-center font-italic" colspan="5">You haven't created any quiz yet.</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
  </div>
</div>
{% endblock %}
