{% extends 'dashboard/organizer/base.html' %}
{% load static %}
  
{% block body %}
<div id="content-wrapper" class="home">
    <div class="homecontainer">
        <div class="card-header pagehead">
            <i class="ri-file-list-line"></i>
            List of Announcements Posted
        </div>
        <div class="card-body pagecontainer">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            {% endfor %}    

            <div class="row">
                {% for chat in object_list %}
                <div class="col-lg-6 noticebox p-3">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="ri-volume-up-fill"></i>
                        </div>
                        <h5 class="notice-title text-white">{{ chat|linebreaks }}</h5>

                        <div class="noticefooter"> 
                            POSTED BY 
                            <span class="details">{{chat.user}}</span> 
                            AT 
                            <span class="details">{{chat.posted_at}}</span> 
                        </div>
                    </div>
                </div>
                {% empty %}
                <h6 class="bg-secondary text-white p-3">NO ANNOUNCEMENTS YET!</h6>
                {% endfor %}
            </div>
            
        </div>
    </div>  
</div>
{% endblock %}