{% extends 'dashboard/admin/base.html' %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block body %}
<div id="content-wrapper" class="home">
    <div class="homecontainer"> 
        <div class="card-header pagehead">
            <i class="fas fa-table"></i>
            Add Question
        </div>
        <div class="card-body pagecontainer">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            <form method="post" novalidate class="addquestion">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="btnbox">
                    <button type="submit" class="btn primarybtn">Save</button>
                    <a href="{% url 'adm_update_quiz' quiz.pk %}" class="secondarybtn" role="button">Cancel</a>
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock body %}