{% extends 'dashboard/organizer/base.html' %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block body %}
<div id="content-wrapper" class="home">
    <div class="container-fluid"> 

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'organizer' %}">Dashboard</a></li>
            <li class="breadcrumb-item text-success">Manage Quizzes</li>
            <li class="breadcrumb-item text-danger active">Add Quiz</li>
        </ol>
        <div class="card mb-3 fieldbox">
            <div class="card-header bg-success cardhead">
                <i class="fas fa-table"></i>
                Add Quiz
            </div>

            <div class="card-body">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
                {% endfor %}

                <form method="post" novalidate class="addquiz">
                    {% csrf_token %}
                    {% render_field form.name type="text" class="form-control" placeholder="Name" %}
                    {% render_field form.interest type="dropdown" class="form-control" placeholder="Interests" %}
                    <div class="btnbox">
                        <button type="submit" class="btn btn-success">SAVE</button>
                        <a href="{% url 'organizer' %}" class="btn btn-danger">CANCEL</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}