{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="wrapper" id="playingbox">
    <div class="gamedata">
        <p class="head1">TIC TAC TOE</p>
        <p class="head2">Welcome to room: {{room_code}}</p>
    </div>
    <div id = "game_board" room_code = {{room_code}} char_choice = {{char_choice}} user="{{user}}">
        <div>
            <div class="square" data-index = '0'></div>
            <div class="square" data-index = '1'></div>
            <div class="square" data-index = '2'></div>
        </div>
        <div>
            <div class="square" data-index = '3'></div>
            <div class="square" data-index = '4'></div>
            <div class="square" data-index = '5'></div>
        </div>
        <div>
            <div class="square" data-index = '6'></div>
            <div class="square" data-index = '7'></div>
            <div class="square" data-index = '8'></div>
        </div>
    </div>
    <div id="alert_move">place your move <strong>{{char_choice}}</strong></div>
</div> 

<a href="" data-toggle="modal" data-target="#logoutModal" id="triggermodal"
    style="display: none;"
>
    HIDDEN
</a>

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Result Of The Game</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="gameresult"></div>
            <div class="modal-footer">
                <a class="btn btn-secondary" href="{% url 'employee' %}">Go To Dashboard</a>
                <button class="btn btn-primary" type="button" data-dismiss="modal">Play Again</button>  
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script src = "{% static 'js/game.js' %}"></script>
{% endblock javascript %}